@page "/Coding"

@using WebCoding.BlazorServer.Models
@using System.ComponentModel.DataAnnotations
@using AntDesign
@using Microsoft.AspNetCore.Components

<h3>Coding</h3>


<h1></h1>

<Form Model="@_CodingDataModel"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      LabelColSpan="8"
      WrapperColSpan="16">
    <FormItem>
        <RadioGroup @bind-Value="@_value" >
            <Radio Value="1">C</Radio>
            <Radio Value="2">C++</Radio>
            <Radio Value="3">C#</Radio>
            <Radio Value="4">Java</Radio>
            <Radio Value="5">Python</Radio>
            <Radio Value="6">Python2</Radio>
        </RadioGroup>
    </FormItem>
    <FormItem>
        <TextArea Placeholder="textarea with clear icon"  AllowClear="true" OnChange="onChange" />
    </FormItem>

    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Run
        </Button>
    </FormItem>
</Form>

<h3>@OutputCode</h3>

@code {
    
    
    
    public class CodingDataModel
    {
        [Required(ErrorMessage = "不能为空")]
        [Display(Name ="Code")]
        public string _code { get; set; }
    
        [Display(Name ="Lang")]
        public Lang _lang { get; set; }

        public string RUN()
        {
            var a = new DebugModel(_lang, _code);
            return a.RunCode();
        }
    }
    
    private int _value = 1;
    
    public string OutputCode { get; set; } = "";
    
    public CodingDataModel _CodingDataModel { get; set; } 
        = new CodingDataModel();

    public void Debugging()
        =>OutputCode = _CodingDataModel.RUN();

    private void OnFinish()
    {
        if (_CodingDataModel is not null)
        {
            switch (_value)
            {
                case 1:
                    _CodingDataModel._lang = Lang.c;
                    break;
                case 2:
                    _CodingDataModel._lang = Lang.cpp;
                    break;
                case 3:
                    _CodingDataModel._lang = Lang.cs;
                    break;
                case 4:
                    _CodingDataModel._lang = Lang.java;
                    break;
                case 5:
                    _CodingDataModel._lang = Lang.py;
                    break;
                case 6:
                    _CodingDataModel._lang = Lang.py2;
                    break;
                default:
                    _CodingDataModel._lang = Lang.py;
                    break;
            }
            _CodingDataModel.RUN();
        } 
            
    }

    private void OnFinishFailed() => OutputCode = "401";

    private void onChange(string value)
        => Console.WriteLine("onChange =>" + value);

    
}